@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/img/logo.png"/>
    <h1 class="display-4">Bem vindos!</h1>
    <p>Serviço desenvolvido para auxiliar o Steves Jobs!</p>
</div>
