@model CP2SEM.Models.ClienteMovimentacao

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar</h1>

<h4>ClienteMovimentacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <select name="IdCliente">
                    <option value="0">SELECIONE</option>
                    @foreach (var item in (List<Cliente>)ViewBag.DropCliente)
                    {
                        <option value=@item.Id> @item.Id - @item.Nome</option>
                    }
                </select>


            </div>
            <div class="form-group">

                <select name="IdMovimentacao">
                    <option value="0">SELECIONE</option>
                    @foreach (var item in (List<Movimentacoes>)ViewBag.DropMovimentacao)
                    {
                        <option value=@item.Id> @item.Id - @item.TipoDeMovimentacao</option>
                    }
                </select>

            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
